@import './icomoon.css';

a {
  color: #aab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: sans-serif;
  font-size: 1.5em;
}

.content {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.display {
  display: flex;
  flex: 1;
  position: relative;
}

.github {
  height: 3vh;
  padding: 1vh 2vh;
  width: 3vh;
}

h1 {
  font-size: 4vh;
  font-weight: bold;
  margin: 2vh;
}

h1 a {
  color: white;
}

h2 {
  display: inline-block;
  font-weight: normal;
  font-size: 2vh;
  font-style: italic;
}

h3 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0;
}

.header {
  /* Make this wrap! */
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

html {
  background: #333;
  color: white;
}

.icolink {
  color: white;
  font-size: 120%;
  padding: 1vh;
  text-decoration: none !important;
}

.info {
  background: #555;
  border-bottom: 1px solid #555;
  border-left: 3px solid #555;
  border-radius: 0 0 0 0.2em;
  color: white;
  display: none;
  padding-top: 5px;
  position: absolute;
  right: 0;
}

.info .icolink {
  padding: 5px;
}

.interactive {
  cursor: default;
}

.interactive:hover, .yMetricsList .active {
  background: #555;
  filter: brightness(110%);
}

.legend {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100%;
  width: 12em;
  margin-left: 2vh;
  position: relative;
}

.link {
  color: white;
  display: inline-block;
}

.link svg {
  display: inline-block;
  height: 3vh;
  padding: 1vh;
  width: 3vh;
}

.list {
  flex: 1 1 auto;
  margin-bottom: 1vh;
  position: relative;
}

.listBox {
  padding-bottom: 2em;
}

.listBox .change {
  color: #ddd;
  flex: 0 0 auto;
  font-size: 60%;
  padding-right: 0.2vh;
  text-align: right;
}

.listBox .label {
  flex: 1 1 auto;
  padding: 0 0.2em;
}

.listBox .marker {
  flex: 0 0 auto;
  text-align: center;
  width: 2em;
}

.listBox .marker.active {
  color: #333;
}

.listBox table {
  border-spacing: 0 2px;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
}

.listBox td {
  cursor: default;
}

.listBox tr {
  align-items: center;
  display: flex;
  margin-bottom: 2px;
  position: relative;
}

.listBox tr:hover {
  z-index: 1;
}

.listBox tr:hover .info {
  display: block;
}

.listScroll {
  height: 100%;
  /* I've seen an old Firefox that needs hidden here to avoid horiz scroll. */
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  scrollbar-color: white #444;
  width: 100%;
}

.listScroll::-webkit-scrollbar {
  background: #444;
}

.listScroll::-webkit-scrollbar-thumb {
  background: white;
}

.plot {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
}

.plotBox canvas {
  position: absolute;
}

.plotBox {
  flex: 1 1 auto;
  position: relative;
}

.query {
  border: 1px solid white;
  border-radius: 0.2em;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  margin: 0 0.2em 1vh;
}

.query input {
  background: none;
  border: none;
  color: white;
  font-size: inherit;
  margin: 0 0.5vh;
  outline: none;
  padding: 0.2em;
  width: 100%;
}

.queryClear {
  padding-left: 0.3em;
}

.spread {
  flex: 1 1 auto;
}

.tools {
  align-items: center;
  display: flex;
}

.tools > * {
  border: 2px solid white;
  border-radius: 0.2em;
  flex: 1 1 auto;
  margin: 0 0.5vh 1vh;
  padding: 0.5vh;
  text-align: center;
}

.trim.checked {
  background: white;
  color: #333;
}

.xAxis {
  display: none;
  padding-bottom: 0.1vh;
  flex: 0 0 auto;
  text-align: center;
}

.xLabel {
  display: inline-block;
  border: 2px solid transparent;
}

.xLabel, .yLabel {
  padding: 0.1vh 0.5vh;
}

.xLabel:hover, .yLabel:hover {
  border: 2px solid white;
  border-radius: 0.2em;
}

.yAxis {
  align-items: center;
  display: flex;
  padding-left: 1vh;
  position: relative;
  width: 1.2em;
}

.yLabel {
  cursor: default;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-1.2em) rotate(-90deg);
  position: absolute;
  top: 50%;
  white-space: nowrap;
}

.yLabelArrow:before {
  content: "\25BC";
}

.yMetricsList {
  cursor: default;
  margin: 0;
}

.yOptions {
  display: none;
  padding: 1em;
  padding-right: 0.5em;
  position: relative;
}

.yOptionsBox {
  position: relative;
  top: 50%;
  transform: translateY(-50%)  translateY(-2em);
}

.yOptionsBox li {
  padding: 0 0.2em;
}

.yOptionsExpanded .yLabelArrow:before {
  content: "\25B2";
}

.yOptionsExpanded .yOptions {
  display: initial;
}
