@import 'chartist/dist/chartist.css';

.content {
  border: 1px solid red;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.display {
  border: 1px solid blue;
  display: flex;
  flex: 1;
}

.header {
  border: 1px solid orange;
  flex: 0 0 auto;
}

.plot {
  border: 1px solid green;
  flex: 1 1 auto;
}

.legend {
  border: 1px solid gray;
  flex: 0 0 auto;
}

@import './charts.css';
