body {
  font-family: sans-serif;
  font-size: 20px;
}

.content {
  /* border: 1px solid red; */
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.display {
  /* border: 1px solid blue; */
  display: flex;
  flex: 1;
}

.github {
  height: 1.5em;
  padding: 0.5em;
  width: 1.5em;
}

h1 {
  font-size: 120%;
  font-weight: bold;
  margin: 0.5em;
}

h2 {
  display: inline-block;
  font-weight: normal;
  font-size: 70%;
  font-style: italic;
}

.header {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.plot {
  /* border: 1px solid green; */
  flex: 1 1 auto;
  position: relative;
}

.legend {
  /* border: 1px solid gray; */
  flex: 0 0 auto;
  padding: 0 1em;
}

.spread {
  flex: 1 1 auto;
}
